<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
		<div id="newsTop"
			ng-if="top_news_single">
			<div class="media hidden-xs">
				<div class="media-left">
					<a href="#/news/{{top_news_single.id}}">
						<img class="media-object" src="{{top_news_single.big_img}}" alt="...">
					</a>
				</div>
				<a class="media-body" href="#/news/{{top_news_single.id}}">
					<h4 class="media-heading">{{top_news_single.title}}</h4>
					{{top_news_single.shortText}}
				</a>
			</div>
			<div class="visible-xs">
				<a class="media-body" href="#/news/{{top_news_single.id}}">
					<h4 class="media-heading">{{top_news_single.title}}</h4>
					{{top_news_single.shortText}}
				</a>	
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div id="newsBlock">
		<div class="col-xs-4 col-md-3 news-preview hidden-xs news-grid-layout"
			ng-repeat="news_single in news_list"
			ng-show="settings.newsLayout === 'grid'">
			<div class="preview" ng-class="{'featured': news_single.isFeatured}">
				<a  href="#/news/{{news_single.id}}"> </a>

				<h5 ng-if="!news_single.small_img">
					<small class="time">[{{news_single.timestamp | date:'H:mm' }}]</small>
					<a href="#/news/{{news_single.id}}">{{news_single.title}}</a>
				</h5>
				<p ng-if="!news_single.small_img">
				{{news_single.shortText  | cut:true:90 }}
				<span class="glyphicon glyphicon-comment comment-count"
					ng-if="news_single.comments_count"
					aria-hidden="true">{{news_single.comments_count}}</span>
				</p>
			</div>
		</div>
		<div class="col-lg-8 col-lg-offset-2 news-preview-line hidden-xs news-line-layout"
			ng-repeat="news_single in news_list"
			ng-show="settings.newsLayout === 'line'">
			<div class="preview" ng-class="{'featured': news_single.isFeatured}">
				<h5>
					<small class="time">[{{news_single.timestamp | date:'H:mm' }}]</small>
					<a href="#/news/{{news_single.id}}">{{news_single.title}}</a>
				</h5>
				<p>
				{{news_single.shortText}}
				<span class="glyphicon glyphicon-comment comment-count" 
					ng-if="news_single.comments_count"
					aria-hidden="true">{{news_single.comments_count}}</span>
				</p>
			</div>
		</div>
		<div class="col-xs-12 col-md-3 news-preview-xs visible-xs"
			ng-repeat="news_single in news_list">
			<div class="preview" ng-class="{'featured': news_single.isFeatured}">
				<h5>
					<small class="time">[{{news_single.timestamp | date:'H:mm' }}]</small>
					<a href="#/news/{{news_single.id}}">{{news_single.title}}</a>
					<span class="glyphicon glyphicon-comment comment-count" 
						ng-if="news_single.comments_count"
						aria-hidden="true">{{news_single.comments_count}}</span>
				</h5>
			</div>
		</div>
	</div>
</div>
